<template>
	<div id="emojis">
		<div class="accordeon">
			<div class="header-accordeon" role="button" :tabindex="definirTabIndexEmojis()" @click="gererAccordeon('emoticones')" @keydown.enter="gererAccordeon('emoticones')">
				<span>{{ $t('emoticones') }}</span>
				<span class="icone" :title="$t('fermer')" v-if="categorie === 'emoticones'"><i class="material-icons">remove</i></span>
				<span class="icone" :title="$t('ouvrir')" v-else><i class="material-icons">add</i></span>
			</div>
			<div class="emojis" v-if="categorie === 'emoticones'">
				<span role="button" :tabindex="definirTabIndexEmojis()" v-for="(emoticone, indexEmoticone) in emoticones" :class="{'actif': $parent.emoji === emoticone }" @click="insererEmoji(emoticone)" @keydown.enter="insererEmoji(emoticone)" :key="'emoticone_' + indexEmoticone">{{ emoticone }}</span>
			</div>
		</div>
		<div class="accordeon">
			<div class="header-accordeon" role="button" :tabindex="definirTabIndexEmojis()" @click="gererAccordeon('gestes')" @keydown.enter="gererAccordeon('gestes')">
				<span>{{ $t('gestesEtCorps') }}</span>
				<span class="icone" :title="$t('fermer')" v-if="categorie === 'gestes'"><i class="material-icons">remove</i></span>
				<span class="icone" :title="$t('ouvrir')" v-else><i class="material-icons">add</i></span>
			</div>
			<div class="emojis" v-if="categorie === 'gestes'">
				<span role="button" :tabindex="definirTabIndexEmojis()" v-for="(geste, indexGeste) in gestes" :class="{'actif': $parent.emoji === geste }" @click="insererEmoji(geste)" @keydown.enter="insererEmoji(geste)" :key="'geste_' + indexGeste">{{ geste }}</span>
			</div>
		</div>
		<div class="accordeon">
			<div class="header-accordeon" role="button" :tabindex="definirTabIndexEmojis()" @click="gererAccordeon('nature')" @keydown.enter="gererAccordeon('nature')">
				<span>{{ $t('nature') }}</span>
				<span class="icone" :title="$t('fermer')" v-if="categorie === 'nature'"><i class="material-icons">remove</i></span>
				<span class="icone" :title="$t('ouvrir')" v-else><i class="material-icons">add</i></span>
			</div>
			<div class="emojis" v-if="categorie === 'nature'">
				<span role="button" :tabindex="definirTabIndexEmojis()" v-for="(nature, indexNature) in natures" :class="{'actif': $parent.emoji === nature }" @click="insererEmoji(nature)" @keydown.enter="insererEmoji(nature)" :key="'nature_' + indexNature">{{ nature }}</span>
			</div>
		</div>
		<div class="accordeon">
			<div class="header-accordeon" role="button" :tabindex="definirTabIndexEmojis()" @click="gererAccordeon('aliments')" @keydown.enter="gererAccordeon('aliments')">
				<span>{{ $t('aliments') }}</span>
				<span class="icone" :title="$t('fermer')" v-if="categorie === 'aliments'"><i class="material-icons">remove</i></span>
				<span class="icone" :title="$t('ouvrir')" v-else><i class="material-icons">add</i></span>
			</div>
			<div class="emojis" v-if="categorie === 'aliments'">
				<span role="button" :tabindex="definirTabIndexEmojis()" v-for="(aliment, indexAliment) in aliments" :class="{'actif': $parent.emoji === aliment }" @click="insererEmoji(aliment)" @keydown.enter="insererEmoji(aliment)" :key="'aliment_' + indexAliment">{{ aliment }}</span>
			</div>
		</div>
		<div class="accordeon">
			<div class="header-accordeon" role="button" :tabindex="definirTabIndexEmojis()" @click="gererAccordeon('objets')" @keydown.enter="gererAccordeon('objets')">
				<span>{{$t('objets') }}</span>
				<span class="icone" :title="$t('fermer')" v-if="categorie === 'objets'"><i class="material-icons">remove</i></span>
				<span class="icone" :title="$t('ouvrir')" v-else><i class="material-icons">add</i></span>
			</div>
			<div class="emojis" v-if="categorie === 'objets'">
				<span role="button" :tabindex="definirTabIndexEmojis()" v-for="(objet, indexObjet) in objets" :class="{'actif': $parent.emoji === objet }" @click="insererEmoji(objet)" @keydown.enter="insererEmoji(objet)" :key="'objet_' + indexObjet">{{ objet }}</span>
			</div>
		</div>
		<div class="accordeon">
			<div class="header-accordeon" role="button" :tabindex="definirTabIndexEmojis()" @click="gererAccordeon('lieux')" @keydown.enter="gererAccordeon('lieux')">
				<span>{{$t('lieux') }}</span>
				<span class="icone" :title="$t('fermer')" v-if="categorie === 'lieux'"><i class="material-icons">remove</i></span>
				<span class="icone" :title="$t('ouvrir')" v-else><i class="material-icons">add</i></span>
			</div>
			<div class="emojis" v-if="categorie === 'lieux'">
				<span role="button" :tabindex="definirTabIndexEmojis()" v-for="(lieu, indexLieu) in lieux" :class="{'actif': $parent.emoji === lieu }" @click="insererEmoji(lieu)" @keydown.enter="insererEmoji(lieu)" :key="'lieu_' + indexLieu">{{ lieu }}</span>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	name: 'Emojis',
	data () {
		return {
			emoticones: ['😀','😃','😄','😁','😆','😅','😂','🤣','🥲','😊','😇','🙂','🙃','😉','😌','😍','🥰','😘','😗','😙','😚','😋','😛','😝','😜','🤪','🤨','🧐','🤓','😎','🥸','🤩','🥳','😏','😒','😞','😔','😟','😕','🙁','😣','😖','😫','😩','🥺','😢','😭','😤','😠','😡','🤬','🤯','😳','🥵','🥶','😱','😨','😰','😥','😓','🤗','🤔','🤭','🤫','🤥','😶','😐','😑','😬','🙄','😯','😦','😧','😮','😲','🥱','😴','🤤','😪','😵','🤐','🥴','🤢','🤮','🤧','😷','🤒','🤕','🤑','🤠','🤡','👻','💀','👽','👾','🤖','🎃','😺','😸','😹','😻','😼','😽','🙀','😿','😾'],
			gestes: ['👋','🤚','✋','🖖','👌','🤌','🤏','🤞','🤟','🤘','🤙','👈','👉','👆','🖕','👇','👍','👎','✊','👊','🤛','🤜','👏','🙌','👐','🤲','🤝','🙏','💅','🤳','💪','🦾','🦵','🦿','🦶','👣','👂','🦻','👃','🫀','🫁','🧠','🦷','🦴','👀','👅','👄','💋','🩸'],
			natures: ['🐶','🐱','🐭','🐹','🐰','🦊','🐻','🐼','🐻','🐨','🐯','🦁','🐮','🐷','🐽','🐸','🐵','🙈','🙉','🙊','🐒','🐔','🐧','🐦','🐤','🐣','🐥','🦆','🦅','🦉','🦇','🐺','🐗','🐴','🦄','🐝','🪱','🐛','🦋','🐌','🐞','🐜','🪰','🪲','🪳','🦟','🦗','🕷','🕸','🦂','🐢','🐍','🦎','🦖','🦕','🐙','🦑','🦐','🦞','🦀','🐡','🐠','🐟','🐬','🐳','🐋','🦈','🐊','🐅','🐆','🦓','🦍','🦧','🦣','🐘','🦛','🦏','🐪','🐫','🦒','🦘','🦬','🐃','🐂','🐄','🐎','🐖','🐏','🐑','🦙','🐐','🦌','🐕','🐩','🦮','🐕','🦺','🐈','🪶','🐓','🦃','🦤','🦚','🦜','🦢','🦩','🐇','🦝','🦨','🦡','🦫','🦦','🦥','🐁','🐀','🐿','🦔','🐾','🐉','🐲','🌵','🎄','🌲','🌳','🌴','🪵','🌱','🌿','🍀','🎍','🪴','🎋','🍃','🍂','🍁','🍄','🐚','🪨','🌾','💐','🌷','🌹','🥀','🌺','🌸','🌼','🌻','🌞','🌝','🌛','🌜','🌚','🌕','🌖','🌗','🌘','🌑','🌒','🌓','🌔','🌙','🌎','🌍','🌏','🪐','💫','⭐','🌟','✨','💥','🔥','🌈','⛅','⛄','💨','💧','💦','🌊'],
			aliments: ['🍏','🍎','🍐','🍊','🍋','🍌','🍉','🍇','🍓','🫐','🍈','🍒','🍑','🥭','🍍','🥥','🥝','🍅','🍆','🥑','🥦','🥬','🥒','🫑','🌽','🥕','🫒','🧄','🧅','🥔','🍠','🥐','🥯','🍞','🥖','🥨','🧀','🥚','🍳','🧈','🥞','🧇','🥓','🥩','🍗','🍖','🌭','🍔','🍟','🍕','🫓','🥪','🥙','🧆','🌮','🌯','🫔','🥗','🥘','🫕','🥫','🍝','🍜','🍲','🍛','🍣','🍱','🥟','🦪','🍤','🍙','🍚','🍘','🍥','🥠','🥮','🍢','🍡','🍧','🍨','🍦','🥧','🧁','🍰','🎂','🍮','🍭','🍬','🍫','🍿','🍩','🍪','🌰','🥜','🍯','🥛','🍼','🫖','🍵','🧃','🥤','🧋','🍶','🍺','🍻','🥂','🍷','🥃','🍸','🍹','🧉','🍾','🧊','🥄','🍴','🥣','🥡','🥢','🧂'],
			objets: ['🎍','💝','🎎','🎒','🎓','🎏','🎆','🎇','🎐','🎑','🎃','👻','🎅','🎄','🎁','🎋','🎉','🎊','🎈','🎌','🔮','🎥','📷','📹','📼','💿','📀','💽','💾','💻','📱','📞','📟','📠','📡','📺','📻','🔊','🔔','📢','📣','⏳','⌛','⏰','⌚','🔓','🔒','🔏','🔐','🔑','🔎','💡','🔦','🔌','🔋','🔍','🛀','🚽','🔧','🔩','🔨','🚪','🚬','💣','🔫','🔪','💊','💉','💰','💴','💵','💳','💸','📲','📧','📥','📤','📩','📨','📫','📪','📮','📦','📝','📄','📃','📑','📊','📈','📉','📜','📋','📅','📆','📇','📁','📂','📌','📎','📏','📐','📕','📗','📘','📙','📓','📔','📒','📚','📖','🔖','📛','📰','🎨','🎬','🎤','🎧','🎼','🎵','🎶','🎹','🎻','🎺','🎷','🎸','👾','🎮','🃏','🎴','🀄','🎲','🎯','🏈','🏀','⚽','⚾','🎾','🎱','🎳','⛳','🏁','🏆','🎿','🏂','🏊','🏄','🎣','🍵','🍶'],
			lieux: ['🏠','🏡','🏫','🏢','🏣','🏥','🏦','🏪','🏩','🏨','💒','⛪','🏬','🌇','🌆','🏯','🏰','⛺','🏭','🗼','🗾','🗻','🌄','🌅','🌃','🗽','🌉','🎠','🎡','⛲','🎢','🚢','⛵','🚤','🚀','💺','🚉','🚄','🚅','🚇','🚃','🚌','🚙','🚗','🚕','🚚','🚨','🚓','🚒','🚑','🚲','💈','🚏','🎫','🚥','🚧','🔰','⛽','🏮','🎰','🗿','🎪','🎭','📍','🚩'],
			categorie: 'emoticones'
		}
	},
	mounted () {
		if (this.$parent.emoji !== '' && this.emoticones.includes(this.$parent.emoji)) {
			this.categorie = 'emoticones'
		} else if (this.$parent.emoji !== '' && this.gestes.includes(this.$parent.emoji)) {
			this.categorie = 'gestes'
		} else if (this.$parent.emoji !== '' && this.natures.includes(this.$parent.emoji)) {
			this.categorie = 'nature'
		} else if (this.$parent.emoji !== '' && this.aliments.includes(this.$parent.emoji)) {
			this.categorie = 'aliments'
		} else if (this.$parent.emoji !== '' && this.objets.includes(this.$parent.emoji)) {
			this.categorie = 'objets'
		} else if (this.$parent.emoji !== '' && this.lieux.includes(this.$parent.emoji)) {
			this.categorie = 'lieux'
		}
	},
	methods: {
		insererEmoji (emoji) {
			this.$emit('emoji', emoji)
		},
		gererAccordeon (categorie) {
			if (this.categorie !== categorie) {
				this.categorie = categorie
			} else {
				this.categorie = ''
			}
		},
		definirTabIndexEmojis () {
			return this.$parent.$parent.$parent.message === '' ? 0 : -1
		}
	}
}
</script>

<style scoped>
#emojis {
	margin-bottom: 20px;
}

#emojis .accordeon {
	padding: 10px;
	border: 1px solid #ddd;
	border-bottom: 0;
	line-height: 1.2;
}

#emojis .accordeon:first-child {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

#emojis .accordeon:last-child {
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom: 1px solid #ddd;
}

#emojis .header-accordeon {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 12px;
	line-height: 1;
	cursor: pointer;
}

#emojis .header-accordeon .icone {
	font-size: 24px;
}

#emojis .emojis {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 100%;
	margin-top: 4px;
}

#emojis .emojis:after {
	content: '';
	flex: auto;
}

#emojis .emojis span {
	font-size: 20px;
	padding: 2px;
	cursor: pointer;
	border-radius: 5px;
}

#emojis .emojis span.actif {
	background: #222;
}

#emojis .emojis span:hover {
	background: #222;
	cursor: pointer;
}
</style>
